.sidebar {
	background-color: black;
	height: 100vh;
	color: white;
	width: 20%;
	position: fixed;
	left: 0;
}

#sidebar-logo {
	width: 130px;
	margin: 24px;
}

.sidebar-menu {
	margin: 0 8px;
}

.sidebar > hr {
	margin: 0 23px;
	background-color: rgb(40, 40, 40);
	border: none;
	height: 1px;
}

.playlists-container {
	padding: 0 23px;
}