.playlist {
	color: rgb(179, 179, 179);
	transition: color 0.4s;
	padding: 10px;
	background-color: black;
	width: 100%;
	border: none;
	display: flex;
	height: 40px;
	line-height: 20px;
	align-items: center;
	margin: 0 23px;
	padding: 0;
}

.playlist:hover {
	color: white;
}